<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <div style="width:20px;height:20px;background-color: crimson; margin-bottom: 2px;" *ngIf="appareilStatus === 'éteint'"></div>
  <div style="width:20px;height:20px;background-color: cornflowerblue; margin-bottom: 2px;" *ngIf="appareilStatus === 'allumé'"></div>
  <button class="btn btn-success" type="button"
          style="padding-left: 20px; padding-right: 20px;
          margin: 10px;" (click)="onSwitchOn()"
          [disabled]="appareilStatus === 'allumé'">+</button>
  <button class="btn btn-danger" type="button"
          style=" padding-left: 20px; padding-right: 20px;"
          (click)="onSwitchOff()"
          [disabled]="appareilStatus === 'éteint'">-</button>
  <h4>Appareil : {{ appareilName }} - Statut : {{ getStatus() }}</h4>
</li>

<!-- [ngStyle]="{color: getColor()}" -->
