<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="contain-fluid"></div>.
</nav>
<div style="text-align:center">
  <img width="300" alt="dog" src="../assets/dog2.gif">
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
