<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis à jour : {{ lastUpdate | async | date : 'short' | lowercase }}</p>
  <ul class="list-group-item">
    <app-appareil *ngFor="let appareils of appareils; let i = index"
                  [appareilName]="appareils.name" [appareilStatus]="appareils.status" [indexOfAppareil]="i"></app-appareil>
  </ul>
  <button class="btn btn-success" value="Turn on"
          style="margin-top: 10px; padding: 5px; margin-bottom: 10px; max-width: 80px;" (click)="onAllumer()">Allumer</button>
  <button class="btn btn-danger" style="margin-top: 10px; margin-left: 10px; padding: 5px; margin-bottom: 10px; max-width: 80px;" (click)="onEteindre()">Eteindre</button>
</div>
